name: "CI"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - context
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    name: "[${{matrix.python}}] - mmh3 [${{matrix.mmh3-version}}]"
    strategy:
      matrix:
        python: ["3.9.15", "3.10.10", "3.11.2"]
        mmh3-version: ["3.0.0", "4.0.0"]
    steps:
      - name: Checkout repo + submodules
        uses: actions/checkout@v2.4.0
        with:
          submodules: recursive

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true

      - name: Install dependencies
        run: |
          if [[ ${{ matrix.mmh3-version }} == "3.0.0" ]]; then
            poetry add mmh3@">=3.0.0,<4.0.0"
          else
            poetry add mmh3@">=4.0.0,<5.0.0"
          fi
          poetry install --no-interaction

      - name: Run tests
        run: poetry run pytest
        env:
          REFORGE_INTEGRATION_TEST_SDK_KEY: ${{ secrets.REFORGE_INTEGRATION_TEST_SDK_KEY }}
          REFORGE_INTEGRATION_TEST_ENCRYPTION_KEY: "c87ba22d8662282abe8a0e4651327b579cb64a454ab0f4c170b45b15f049a221"
          NOT_A_NUMBER: "not a number"
          IS_A_NUMBER: 1234
